exclude *
include setup.py
include ez_setup.py
include README.txt
include CHANGELOG
include docs/*.css
include docs/*.rst
include docs/*.gif
include docs/*.html
include docs/*.png
include wxoptparse/*.py
include scripts/*
